<!-- Barra de navegacion -->
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank">
            <img class="imagen-navbar" src="./../../../assets/images/logoAP.png" width="50" alt="Logo de la pagina">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#seccion-sobre-mi">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#seccion-estudios">Estudios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#seccion-experiencia">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#seccion-skills">Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#seccion-proyectos">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#seccion-footer">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="iconos-redes-sociales-navbar d-flex flex-wrap align-items-center justify-content-center">

            <a href="https://github.com/JuanJCifuentes" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/juan-j-cifuentes/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/jottaac/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="mailto:cifuentesjuan.nqn@hotmail.com" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-envelope"></i>
            </a>

        </div>

        <!-- <div *ngIf="!modoEdit">
            <button type="button" class="btn btn-success boton-login" routerLink="login">
                Login
            </button>
        </div>
        <div *ngIf="modoEdit">
            <button type="button" class="btn btn-success boton-login" (click)="cerrarSesion()">
                Logout
            </button>
        </div> -->

    </div>
</nav>