
/* Experiencia */
.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
    border-radius: 15%;
}

.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0 30px;
}

.icono-experiencia {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}



.experiencia .columna:hover .boton-edit {
    color: white;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

h4{
    font-size: small;
}

.descripcion-experiencia{
    margin: 20px;
}

p{
    margin-top: 10px;
}

@media screen and (max-width: 620px) {
    .experiencia .columna {
        padding: 20px;
        border: 2px solid #8080804d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: all 0.2s ease-in;
        border-radius: 0%;
    }
}