<!-- Seccion Experiencia -->
<section id="seccion-informacion" class="experiencia seccion-clara">
    <div class="container text-center">
        <div class="row">
            <!-- Estudios col-md-4 -->
            <div class="columna col-12" id="seccion-estudios">
                <i class="bi bi-journals icono-experiencia"></i>
                <p class="experiencia-titulo">Estudios</p>
                <!-- <button *ngIf="modoEdit" type="button" class="btn boton-edit" routerLink="addestudio"><i class="bi bi-plus-circle"></i></button> -->
                <div class="descripcion-experiencia" *ngFor="let estudios of estudio">
                    <!-- <div *ngIf="modoEdit">
                        <button type="button" class="btn boton-edit"><i class="bi bi-x-octagon" (click)="eliminarEducacion(estudios.id)"></i></button>
                        <button type="button" class="btn boton-edit" routerLink="editestudio/{{estudios.id}}"><i class="bi bi-pencil"></i></button>
                    </div> -->
                    <div class="text-center">
                        <h5>{{estudios.titulo}}</h5>
                        <h6>-{{estudios.institucion}}</h6>
                        <h4>{{estudios.inicio}} / {{estudios.fin}}</h4>
                    </div>
                    <p>-{{estudios.descripcion}}</p>
                </div>
                
                <a href="./../../../assets/images/certificadoAP.png" target="_blank">Ver certificado</a>

                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">Universidad Nacional del Comahue</span>
                    <span class="badge text-bg-primary">Argentina Programa</span>
                    <span class="badge text-bg-primary">freeCodeCamp</span>
                    <span class="badge text-bg-primary">EPET 8</span>
                    <!-- <div>
                        <button type="button" class="btn boton-edit"><i class="bi bi-x-octagon"></i></button>
                        <button type="button" class="btn boton-edit" data-bs-toggle="modal"
                            data-bs-target="#estudiosModal"><i class="bi bi-pencil"></i></button>
                    </div> -->
                </div>
            </div>
            <!-- Experiencia -->
            <div class="columna col-12" id="seccion-experiencia">
                <i class="bi bi-person-workspace icono-experiencia"></i>
                <p class="experiencia-titulo">Experiencia</p>
                <!-- <button *ngIf="modoEdit" type="button" class="btn boton-edit" routerLink="addexpe"><i class="bi bi-plus-circle"></i></button> -->
                <div class="descripcion-experiencia" *ngFor="let experiencias of experiencia">
                    <!-- <div *ngIf="modoEdit">
                        <button type="button" class="btn boton-edit"><i class="bi bi-x-octagon" (click)="eliminarExperiencia(experiencias.id)"></i></button>
                        <button type="button" class="btn boton-edit" routerLink="editexpe/{{experiencias.id}}"><i class="bi bi-pencil"></i></button>
                    </div> -->
                    <div class="text-center">
                        <h5>{{experiencias.sector}}</h5>
                        <h6>-{{experiencias.institucion}}</h6>
                        <h4>{{experiencias.inicio}} / {{experiencias.fin}}</h4>
                    </div>
                    <p>-{{experiencias.descripcion}}</p>
                </div>

                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">Schlumberger</span>
                    <span class="badge text-bg-primary">Digan Whisky</span>
                    <span class="badge text-bg-primary">Onda Verde</span>
                    <!-- <div>
                        <button type="button" class="btn boton-edit"><i class="bi bi-x-octagon"></i></button>
                        <button type="button" class="btn boton-edit" data-bs-toggle="modal"
                            data-bs-target="#experienciaModal"><i class="bi bi-pencil"></i></button>
                    </div> -->
                </div>
            </div>
            <!-- Desarrollo Web -->
            <div class="columna col-12">
                <i class="bi bi-laptop icono-experiencia"></i>
                <p class="experiencia-titulo">Desarrollo Web</p>
                <!-- <button *ngIf="modoEdit" type="button" class="btn boton-edit" routerLink="add-desarrollo"><i class="bi bi-plus-circle"></i></button> -->
                <div class="descripcion-experiencia" *ngFor="let desarrolloweb of desarrollo">
                    <!-- <div *ngIf="modoEdit">
                        <button type="button" class="btn boton-edit"><i class="bi bi-x-octagon" (click)="eliminarDesarrollo(desarrolloweb.id)"></i></button>
                        <button type="button" class="btn boton-edit"><i class="bi bi-pencil" routerLink="edit-desarrollo/{{desarrolloweb.id}}"></i></button>
                    </div> -->
                    <div class="text-center">
                        <h5>{{desarrolloweb.sector}}</h5>
                        <h6>{{desarrolloweb.fecha}}</h6>
                    </div>
                    <p>{{desarrolloweb.lenguajes}}</p>
                </div>

                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">BackEnd</span>
                    <span class="badge text-bg-primary">FrontEnd</span>
                    <span class="badge text-bg-primary">Frameworks</span>
                    <span class="badge text-bg-primary">Desarrollo Web</span>
                    <!-- <div>
                        <button type="button" class="btn boton-edit"><i class="bi bi-x-octagon"></i></button>
                        <button type="button" class="btn boton-edit" data-bs-toggle="modal"
                            data-bs-target="#desarrolloModal"><i class="bi bi-pencil"></i></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

